/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Azeret Mono", monospace;
}

/* header and hero section styles */

.hero-section-container {
	background-image: url(../assets/Hero-bg.png);
	max-width: 1366px;
	height: 622px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 212px 58px 212px;
	text-align: center;

}

.hero-title {
	width: 946px;
	color: #0D1321;
	font-size: 45px;
	font-weight: 758;
	line-height: 62px;
	margin-top: 40px;
}

.hero-description {
	width: 808px;
	color: #0D1321;
	margin-top: 26px;
	margin-bottom: 32px;
	line-height: 24px;
	opacity: 0.7;

}

.btn {
	color: #FFF;
	font-size: 20px;
	font-weight: 569px;
	padding: 19px 26px;
	border-radius: 8px;
	background: #0D1321;
}

/* main section styles */
main {
	max-width: 1082px;
	margin: 0 auto;
	margin-top: 70px;
}

.web-development-section {
	background: rgba(13, 19, 33, 0.02);
	border-radius: 16px;
	padding-top: 75px;
	padding-bottom: 75px;
}

.web-content-container {
	max-width: 897px;
	margin: 0 auto;
}

.web-content {
	text-align: center;
	margin: 0 auto;
}

.web-title {
	color: #0D1321;
	font-size: 30px;
	font-weight: 758px;
}

.web-description {
	color: #0D1321;
	opacity: 0.7;
	margin: 22px 46px 46px 46px;
}

/* coding world styles */

.coding-container,
.coding-life-future {
	display: flex;
	background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
	justify-content: space-around;
	align-items: center;
	padding: 46px;

}

/* coding img width height */

.coding-container img,
.coding-life-future img {
	width: 259px;
	height: 227px;
}

/* coding dive ar width */

.coding,
.coding-future {
	width: 443px;
}

.coding-title,
.help-title,
.coding-future-title {
	color: rgba(13, 19, 33, 0.70);
	font-size: 22px;
	font-weight: 664px;
}

.coding-description,
.help-description,
.coding-future-description {
	color: #0D1321;
	margin-top: 15px;
	margin-bottom: 30px;
	opacity: 0.7;
}

.cd-btn {
	color: #0D1321;
	font-size: 18px;
	font-weight: 474px;
	padding: 11px 18px;
	background-color: #FDFDFD;
	border: 1px solid #0D1321;
	opacity: 0.7;
	cursor: pointer;
}

/* help people creating styles */
.help-people-container {
	display: flex;
	background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
	align-items: center;
	gap: 30px;
	padding: 46px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 46px;
}

.help-people-container img {
	width: 227px;
	height: 227px;
}

.help-people {
	width: 453px;
}

/* inspiration section styles */

.inspiration-content-container {
	margin-top: 86px;
}

.inspiration-content,
.target-content {
	padding: 0 140px;
	text-align: center;
}

.inspiration-title,
.target-title {
	color: #0D1321;
	font-size: 30px;
	font-weight: 758px;
}

.inspiration-description,
.target-description {
	color: #0D1321;
	opacity: 0.7;
	margin-top: 24px;
}

.video {
	border-radius: 16px;
	padding: 30px;
	border: 1px solid rgba(13, 19, 33, 0.20);
	margin-top: 45px;
}

.video iframe {
	border-radius: 16px;
	width: 100%;
}

/* current target container styles */
.target-card-container {
	margin-top: 174px;
}

/* card item styles */

.card-container {
	display: flex;
	gap: 22px;
	margin-top: 42px;
}

.card-item {
	background: rgba(255, 76, 30, 0.05);
	width: 346px;
	align-items: flex-start;
	border-radius: 16px;
	padding: 36px;
}

#css-card {
	background: rgba(0, 76, 232, 0.05);
}

#js-card {
	background: rgba(255, 223, 0, 0.05);
}

.item-title {
	color: #0D1321;
	font-weight: 758px;
	font-size: 22px;
	margin-top: 22px;
	margin-bottom: 8px;
}

.item-desctiption {
	color: #0D1321;
	opacity: 0.7;
	margin-bottom: 22px;
}

.link-btn {
	color: #0D1321;
	text-decoration: none;
	font-weight: 700px;
	text-decoration-line: underline;
}

/* support-from-container */

.support-from-container {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(../assets/handshake.jpg);
	flex-direction: column;
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	padding: 60px 45px;
	margin-top: 45px;
	border-radius: 16px;
}

.support-content {
	width: 986px;
	text-align: center;
}

.support-title {
	color: #FFF;
	font-size: 30px;
	font-weight: 658px;
}

.support-description {
	color: #FFF;
	opacity: 0.7;
	margin-top: 15px;
	margin-bottom: 22px;
	line-height: 26px;
}

input {
	padding: 18px 20px;
	color: rgba(13, 19, 33, 0.40);
	width: 514px;
	background: #FFF;
	border-radius: 8px;
	border: 1px solid rgba(13, 19, 33, 0.15);
	cursor: pointer;

}

.submit-btn {
	color: #0D1321;
	font-size: 18px;
	font-weight: bold;
	background: #FFF;
	border-radius: 8px;
	padding: 16px 28px;
	border: none;
	cursor: pointer;
}

/* footer styles */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	border-radius: 16px;
	background: rgba(13, 19, 33, 0.03);
	padding: 30px 142px;
	margin-top: 76px;
}

.footer-title {
	color: #0D1321;
	font-size: 20px;
	font-weight: 558px;
}

.footer-img a {
	margin-right: 24px;
}

.footer-img img {
	width: 34px;
	height: 34px;
}